*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(150, 218, 241);
}

.include{
    background-color: white;
    width: calc(100% - 50px);
    height: 100%;
    margin: 0 25px;
}

.header{
    margin: 0 5px;
}

.header-image{
    margin: 5px 0 0 0;
    width: 100%;
}

.header-information{
    background-color: rgb(43, 140, 7);
}

.header-information_item{
    display: flex;
    list-style: none;
    align-items: center;
}

.header-information_item--list{
    display: flex;
    align-items: center;
    color: white;
    height: 30px;
    font-size: 12px;
    padding: 0 12px;
    line-height: 14px;
}

.header-information_item--list:hover{
    background-color: rgb(232, 160, 41);
    cursor: pointer;
}

.header-information_item--space{
    width: 1px;
    height: 30px;
    background-color: white;
}

/* Container */

.container{
    padding: 10px 5px 20px 5px;
    display: flex;
}
.search{
    width: 740px;
}
.search-input{
    height: 30px;
    border: 1px solid rgb(43, 140, 7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.search-input label{
    font-size: 11px;
}

.search-input__space{
    margin-left: 5px;
}

.search-input-item{
    width: 360px;
    height: 17px;
    outline: none;
    padding-left: 2px;
}

#select{
    display: flex;
    flex: 1;
    outline: none;
}

.search-button{
    margin: 0 5px 0 10px;
    height: 20px;
    width: 70px;
}

/* Output */

.search-output{
    min-height: 65px;
    border: 1px solid rgb(43, 140, 7);
    border-radius: 3px;
}

.search-output__text{
    background-color: rgb(43, 140, 7);
    height: 30px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.search-output__text-result{
    margin-left: 10px;
}

.search-output__text-input{
    font-size: 16px;
}

.search-output__lists{
    display: flex;
    align-items: center;
}

.search-output__lists span{
    margin-left: 10px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    height: 35px;
    display: flex;
    align-items: center;
}

/* tool */
.tools{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(43, 140, 7);
    border-radius: 3px;
}

.namestudent{
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.btn-login{
    display: flex;
    margin-right: 8px;
}

.login-title{
    background-color: rgb(43, 140, 7);
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 8px;
    margin-bottom: 4px;
    font-size: 14px;
}

.login-information{
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.login-information label{
    margin: 4px 0;
    color: rgb(34, 34, 34);
    font-size: 14px;
    cursor: text;
}

.login-information input{
    outline: none;
    height: 17px;
    padding-left: 2px;
}
.input-projectcode{
    display: flex;
}
.projectcode{
    background-color: rgb(238, 238, 238);
    width: 62px;
    height: 21px;
    display: flex;
    justify-content: center;
    margin: 0 3px;
    color: rgb(60, 137, 181);
    font-weight: 600;
    user-select: none;
}

.input-projectcode input{
    width: 88px;
}

.refresh{
    color: rgb(60, 137, 181);
    margin: 0 5px;
    cursor: pointer;
}

.login-submit{
    background-color: rgb(255, 103, 21);
    width: 100px;
    margin: 8px 0 13px 8px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.login-submit:hover{
    background-color: rgb(232, 160, 41);
}

.parent{
    padding-bottom: 20px;
    border: 1px solid rgb(43, 140, 7);
    margin: 10px 0 10px;
    border-radius: 3px;
}

.parent-text{
    background-color: rgb(43, 140, 7);
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
    flex: 1;
}

.link{
    padding-bottom: 20px;
    border: 1px solid rgb(43, 140, 7);
    margin: 10px 0 10px;
    border-radius: 3px;
}

.link-text{
    background-color: rgb(43, 140, 7);
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
    flex: 1;
}

.link-item{
    display: flex;
    margin: 0 8px;
    text-decoration: none;
    color: rgb(60, 137, 181);
    font-size: 15px;
    position: relative;
}

.link-item i{
    margin-right: 6px;
}

.link-item::after{
    content: "";
    position: absolute;
    border-bottom: 1px #999;
    border-bottom-style: dashed;
    width: 100%;
    bottom: -5px;
}

.statistical{
    border: 1px solid rgb(43, 140, 7);
    margin: 10px 0 10px;
    border-radius: 3px;
    padding-bottom: 20px;
}

.statistical-text{
    background-color: rgb(43, 140, 7);
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
    flex: 1;
}

.statistical-list{
    list-style: none;
    margin: 8px 8px 0 8px;
}

.statistical-list__items--present{
    color: yellow;
}

.statistical-list__items--today{
    color: indigo;
}

.statistical-list__items--yesterday{
    color: red;
}

.statistical-list__items--total{
    color: orangered;
}

.statistical-list__item{
    color: rgb(34, 34, 34);
    font-size: 14px;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 140, 7);
    border-top: 2px solid rgb(85, 85, 85);
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
}